@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap");

/* Global Styles */
:root {
  --dark-blue: #011936;
  --blue: #022d61;
  --light-text: #747474;
  --red-color: #ef233c;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.065rem;
  background-color: #fff;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}
hr {
  width: 95vw;
  display: block;
  margin: 12rem auto 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.096),
    rgba(0, 0, 0, 0)
  );
}

/* blue gradient */
.blue-gradient {
  background: rgb(2, 45, 97);
  background: -moz-linear-gradient(10deg, #034391 0%, #033675 100%);
  background: -webkit-linear-gradient(10deg, #034391 0%, #033675 100%);
  background: linear-gradient(10deg, #034391 0%, #033675 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022d61",endColorstr="#011936",GradientType=1);
}

/* Used for red headers */
.red-header {
  color: var(--red-color);
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 2rem;
}

/* Display flex nowrap */
.d-flex-nw {
  display: flex;
  flex-wrap: nowrap;
}

/* Light grey text */
.light-text {
  color: var(--light-text);
  /* opacity: 0.7; */
  font-weight: 300;
}

.diagonal-button {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  letter-spacing: 1.5px;
  background: rgb(227, 45, 39);
  background: linear-gradient(
    90deg,
    rgba(227, 45, 39, 1) 0%,
    rgba(177, 18, 23, 1) 100%
  );
  border: none;
  padding: 0.5rem;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border-radius: 3px;
  width: 10rem;
  transition: all 0.3s ease-in-out;
}

.diagonal-button:hover {
  -webkit-box-shadow: 10px 10px 15px -5px rgba(196, 45, 65, 0.47);
  -moz-box-shadow: 10px 10px 15px -5px rgba(196, 45, 65, 0.47);
  box-shadow: 10px 10px 15px -5px rgba(196, 45, 65, 0.4);
  transform: scale(1.015) skewX(-20deg);
  -ms-transform: scale(1.015) skewX(-20deg);
  -webkit-transform: scale(1.015) skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: inline-block;
}
