@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700,900&display=swap");

/* Global Styles */
:root {
  --dark-blue: #033675;
  --blue: #034391;
  --light-text: #747474;
  --red: #ef233c;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  letter-spacing: 0.065rem;
  background-color: #fff;
  color: #333;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  width: 95vw;
  display: block;
  margin: 12rem auto 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.096),
    rgba(0, 0, 0, 0)
  );
}

/* blue gradient */
.blue-gradient {
  background: rgb(2, 45, 97);
  background: -moz-linear-gradient(10deg, #034391 0%, #033675 100%);
  background: -webkit-linear-gradient(10deg, #034391 0%, #033675 100%);
  background: linear-gradient(10deg, #034391 0%, #033675 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#022d61",endColorstr="#011936",GradientType=1);
}

/* Used for red headers */
.red-header {
  color: var(--red);
  font-weight: 900;
  letter-spacing: 1.5px;
  font-size: 2rem;
}

/* Display flex nowrap */
.d-flex-nw {
  display: flex;
  flex-wrap: nowrap;
}

/* Light grey text */
.light-text {
  color: var(--light-text);
  /* opacity: 0.7; */
  font-weight: 300;
}

.diagonal-button {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  display: block;
  letter-spacing: 1.5px;
  background: rgb(227, 45, 39);
  background: linear-gradient(
    90deg,
    rgba(227, 45, 39, 1) 0%,
    rgba(177, 18, 23, 1) 100%
  );
  border: none;
  padding: 0.5rem;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border-radius: 3px;
  width: 10rem;
  transition: all 0.3s ease-in-out;
}

.diagonal-button:hover {
  box-shadow: 6px 7px 0px 0px rgba(3, 54, 117, 1);
  -webkit-box-shadow: 6px 7px 0px 0px rgba(3, 54, 117, 1);
  -moz-box-shadow: 6px 7px 0px 0px rgba(3, 54, 117, 1);
  transform: scale(1.015) skewX(-20deg);
  -ms-transform: scale(1.015) skewX(-20deg);
  -webkit-transform: scale(1.015) skewX(-20deg);
}

.button-slanted-content {
  -ms-transform: skewX(20deg);
  -webkit-transform: skewX(20deg);
  transform: skewX(20deg);
  display: block;
}
/* MEDIA QUERIES */
/* Extra large devices less than 1550px) */
@media only screen and (max-width: 1440px) {
}
/* Large devices less than 992px */
@media only screen and (max-width: 84.063rem) {
  .section-padding {
    padding: 10.5rem 6.7rem;
  }
  .section-title {
    font-size: 1.75rem;
  }
  /* Subtitle */
  .subtitle,
  .work-experience__card-title {
    font-size: 1.35rem;
  }
  /* Hero */
  .hero {
    height: 42.8rem;
  }
  .hero__header {
    font-size: 2rem;
  }
  /* Technical Skills */
  .technical-skills__container {
    height: auto;
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .technical-skills__card {
    height: 20.5rem;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
  }
  .technical-skills__card-text {
    text-align: left;
    width: 25rem;
    /* font-size: 1.2rem; */
    margin-left: 2.6rem;
  }
  .first-card {
    align-self: auto;
  }
  .middle-card {
    margin: 1rem 0;
  }
  .last-card {
    align-self: auto;
  }
}
/* Extra small devices (phones, 500px and down) */
@media only screen and (max-width: 58.75rem) {
  /* Section Padding */
  .section-padding {
    padding: 7.5rem;
  }
  .section-padding {
    padding-top: 7.5rem;
    padding-bottom: 7.5rem;
    padding-right: 3.7rem;
    padding-left: 3.7rem;
  }
  /* Nav */
  .nav__items {
    width: 24rem;
  }
  .nav__item {
    font-size: 0.8rem;
  }
  /* Hero */
  .hero {
    height: 32.8rem;
  }
  .hero__header {
    font-size: 1.78rem;
    line-height: 2rem;
  }
  /* Projects */
  .project {
    height: 27rem;
    width: 56rem;
  }
  .project__img {
    width: 24rem;
  }
  .project__body {
    width: 36.5rem;
  }
  /* Work Experience */
  .work-experience__img {
    display: none;
  }
  .work-experience__date {
    margin-left: 0;
  }
  .social {
    margin: 0 2rem;
  }
}

/* Medium devices (landscape tablets, below 350px) */
@media only screen and (max-width: 33.125rem) {
  .section-padding {
    padding: 5.5rem 1.7rem;
  }
  .section-padding.header {
    padding-top: 2.2rem;
    padding-bottom: 2.2rem;
  }
  .section-padding.projects {
    padding-right: 1.7rem;
  }
  .header {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .logo {
    height: 3.2rem;
    width: 3.2rem;
    margin-bottom: 2rem;
    margin-right: 0;
  }
  .nav__items {
    font-size: 0.9rem;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 23.7rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 30rem;
    text-align: center;
  }
  .hero__left-side {
    color: var(--light-blue);
    width: 90%;
  }
  .hero__header {
    font-size: 2.2rem;
    line-height: 2.5rem;
    margin-right: 0;
  }
  .hero__img,
  .work-experience__img {
    display: none;
  }
  /* Projects */
  .title-and-arrows {
    margin-right: 0;
  }
  .project-navigation {
    display: none;
  }
  .projects__container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-x: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
  }
  .project {
    margin-right: 0;
    margin-bottom: 1.5rem;
    height: auto;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }
  .project .btn {
    margin-top: 1.5rem;
  }
  .project__img {
    height: 16.6rem;
    width: auto;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0;
  }
  .project__body {
    padding: 2.6rem;
    width: auto;
    background-color: #fff;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  /* Work Experience */
  .work-experience__card-header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .work-experience__date {
    margin-top: 1rem;
  }
  .work-experience__cards {
    width: 100%;
    padding: 1rem 0.85rem;
  }
  /* Technical Skills */
  .technical-skills__card {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 27.5rem;
  }
  .technical-skills__card-text {
    text-align: center;
    width: auto;
    margin-left: 0;
  }
  .social {
    margin: 0;
  }
  .contact {
    margin-top: 2.5rem;
  }
}
